@font-face {
    font-family: 'ferly';
    src: url('../../../assets/fonts/Ferly.otf') format('opentype');
    font-weght: 100;
    font-style: normal;
}

@font-face {
    font-family: 'melissa';
    src: url('../../../assets/fonts/mellissa\ darling.ttf') format('truetype');
    font-weght: 100;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$display-text: 'ferly', 'Georgia', 'serif';
$script-text: 'melissa', 'cursive';
$body-text: 'raleway', sans-serif;